
table.htCore td.star {
    color: #fcb515;
  }
  
  table.htCore tr.odd td {
    background: #fafbff;
  }
  
  table.htCore td .progressBar {
    background: #37bc6c;
    height: 10px;
  }
  
  table.htCore tr.selected td {
    background: #edf3fd;
  }
  
  /*
    A stylesheet customizing Handsontable style
  */
  
  .collapsibleIndicator {
    text-align: center;
  }
  
  .handsontable .green {
    background: #37bc6c;
    font-weight: bold;
  }
  
  .handsontable .orange {
    background: #fcb515;
    font-weight: bold;
  }
  
  .btn {
    padding: 20px;
    font: 1.4em sans-serif;
  }
  [data-color="green"] {
    background: #37bc6c;
  }
  [data-color="orange"] {
    background: #fcb515;
  }